// COLORS (clr)

$clr-primary: #303F60;
$clr-neutral: #FFFFFF;
$clr-secondary: #43AFFF;
$clr-primary-two:#99b6cd;
$clr-background:#EDF6FF;
$clr-danger:#FF0000;
$clr-primary-three:#A9AFBC;
$clr-primary-four:#557DA526;
$clr-primary-five:#D9EFFF;
